@font-face {
  font-family: "iconfont"; /* Project id 4600203 */
  src: url('iconfont.woff2?t=1726197816731') format('woff2'),
       url('iconfont.woff?t=1726197816731') format('woff'),
       url('iconfont.ttf?t=1726197816731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exif:before {
  content: "\e8af";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-banquan:before {
  content: "\e620";
}

.icon-zuojiantou1:before {
  content: "\e60e";
}

.icon-youjiantou1:before {
  content: "\e60f";
}

.icon-canshu:before {
  content: "\e608";
}

.icon-tuwenzixun:before {
  content: "\e683";
}

.icon-zuojiantou:before {
  content: "\e626";
}

.icon-youjiantou:before {
  content: "\e627";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-rili:before {
  content: "\e602";
}

.icon-2:before {
  content: "\e623";
}

