@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1679559210433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-date:before {
  content: "\eb9b";
}

